body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    flex-direction: column;
    /* background: radial-gradient(red, yellow);  */
      height: 100%;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 10;
  outline: 2px solid purple;
  padding: 12px;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.4);
}

.slider-tabs {
  /*styles here*/
}


.video-backgrd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-backgrd video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}